@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header_wrapper {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 15px 100px;
    align-content: center;
    justify-content: center;
}

.nav-wrapper {
    display: flex;
    align-items: center;
}

.nav_list {
    display: flex;
    list-style: none;
}

.nav_list > li {
    margin-right: 28px;
    cursor: pointer;
}

.logo {
    margin-left: 100px;
    cursor: pointer;
}

.links {
    margin-left: auto;
}

.links img {
    margin-right: 30px;
    cursor: pointer;
}

.main-page {
    height: calc(100vh - 58px);
    background-color: #F0EFEB;
    display: flex;
}

.main-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.title {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    margin: 0 100px 0 100px;
    width: 495px;
}

.text {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin: 40px 100px 0 100px;
}

.button {
    background: #000;
    border-radius: 100px;
    height: 36px;
    width: 130px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    border: none;
    margin: 40px 100px 0 100px;
    cursor: pointer;
}

.image-wrapper {

}

.guides-page {
    height: 1274px;
    width: 800px;
}

.title-guides {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    width: 692px;
    height: 42px;
    margin: 60px 55px 27px 300px;
}

.text-guides {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    width: 632px;
    height: 69px;
    margin: 0 55px 70px 320px;
}

.guides-names {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    
}

.price {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
}

.images-wrapper > div{
    display: inline-block;
    padding-right: 30px;
}

